append variables
  -
    const brands = [
      {
        src: `${CWD}assets/img/brands/apc-cza.png`,
        alt: 'APC-CZA'
      },
      {
        src: `${CWD}assets/img/brands/eon-plus.png`,
        alt: 'Eon+'
      },
      {
        src: `${CWD}assets/img/brands/smartrace.png`,
        alt: 'SmartRace'
      },
    ]

mixin Brands
  +Section
    .row.mx-md-5.px-md-5.mt-5.justify-content-evenly
      each item in brands
        .col-auto.mt-3.brand-logo
          img(src=`${item.src}` alt=`${item.alt}` style={height: '100px'})
    .px-xl-8.px-md-7
      hr.mt-7.text-1000
