extends Layout
include ../mixins/navbars/Navbar
include ../mixins/Variables

append variables
  - var title = 'wolfnetics'
  - var description = 'wolfnetics.com'
  - var canonical = 'https://wolfnetics.com'

append meta
  meta(name='description' content=description)
  meta(property='og:title' content=title)
  meta(property='og:description' content=description)
  meta(property='og:site_name' content=title)
  meta(property='og:url' content=canonical)
  meta(property='og:image' content=`${canonical}/assets/img/logo.png`)
  meta(property='og:type' content='website')
  meta(name='twitter:title' content=title)
  meta(name='twitter:description' content=description)
  meta(name='twitter:url' content=canonical)
  meta(name='twitter:image' content=`${canonical}/assets/img/logo.png`)
  meta(name='twitter:card' content='summary_large_image')
  meta(name='theme-color' content='#660099')
  link(rel='canonical' href=canonical)

prepend scripts
  link(rel='stylesheet' href='https://use.typekit.net/xju5sug.css')

prepend styles
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css')

block favicon
  link(rel='apple-touch-icon' sizes='180x180', href=`${CWD}assets/img/favicons/apple-touch-icon.png`)
  link(rel='icon' sizes='32x32' type='image/png', href=`${CWD}assets/img/favicons/favicon-32x32.png`)
  link(rel='icon' sizes='16x16' type='image/png', href=`${CWD}assets/img/favicons/favicon-16x16.png`)
  link(rel='icon', href=`${CWD}assets/img/favicons/favicon.ico`)

block mainContent
  +Navbar
  block wrapperContent
    block beforeContent
    block content
    block afterContent
